.bean-beanc2a .item-list ul,
.bean-beanc2a .item-list ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.bean-beanc2a .item-list .field-type-image,
.bean-beanc2a .item-list .field-type-image img,
.bean-beanc2a .item-list .field-type-image figure {
  border: none;
  margin: 0;
  padding: 0;
  float: none;
}
.bean-beanc2a .caption {
  position: absolute;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  color: #fff;
  text-align: left;
  top: 10px;
  left: 10px;
}
.bean-beanc2a .field-name-field-slide-headline {
  font-size: 2em;
}
.bean-beanc2a .rslides_tabs {
  background: #333;
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.bean-beanc2a .rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}
.bean-beanc2a .rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
  color: #fff;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}
.bean-beanc2a .rslides_tabs .rslides_here a {
  text-decoration: underline;
}
.bean-beanc2a .rslides_nav {
  position: absolute;
  bottom: 15px;
  font-size: 3em;
  font-weight: bolder;
  color: #fff;
  text-decoration: none;
}
.bean-beanc2a .rslides_nav.prev {
  left: 45%;
}
.bean-beanc2a .rslides_nav.next {
  right: 45%;
}

.bean-beanc2a .field{
  margin-bottom:0;
}

